@import url('./reset.css');
@import url('./globalStyles.css');


.menu__button {
    width: 8.875rem;
    padding: .875rem 1.75rem;

    background-color: transparent;
    border: 1px solid var(--color-brand-1);
    
    text-align: center;
    font: var(--button); 
    color: var(--color-brand-1);

    cursor: pointer;

    transition: background-color 0.2s;
}

.menu__button:last-of-type {
    background-color: var(--color-brand-1);
    border: 1px solid transparent;
    color: var(--white-mode);

    transition: all 0.2s;
}

.form__button {
    padding: .875rem 1.75rem;

    background-color: var(--color-brand-1);
    border: 1px solid transparent;
    
    text-align: center;
    font: var(--button); 
    color: var(--white-mode);

    cursor: pointer;

    transition: background-color 0.2s;
}

.form__button:last-of-type {
    background-color: transparent;
    border: 1px solid var(--color-brand-1);
    color: var(--color-brand-1);
    
    transition: all 0.2s;
}

.menu__button:hover,.menu__button:last-of-type:hover, .form__button:hover, .form__button:last-of-type:hover {
    background-color: var(--color-brand-2);
    color: var(--white-mode);
}

.chip__button {
    border-radius: 15.9375rem;
    border: 1px solid var(--color-brand-1);
    background-color: var(--white-mode);

    padding: .4063rem 1.625rem;

    font: 400 1rem var(--font-family);
    color: var(--color-brand-1);
}