@import url(./reset.css);
@import url(./globalStyles.css);

.header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 1000px;
    height: 80px;

    margin: 0 auto;
}