@import url('../reset.css');
@import url('../globalStyles.css');


.toast__message {
    position: fixed;
    top: 150px;
    right: 100px;

    background-color: grey;
    color: white;

    padding: 20px;
    border-radius: 4px;
    
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
    transform: translateX(200%);

    animation: popup 4s;
}

.hidden {
    display: none;
}

@keyframes popup {
    0%, 100% {
        opacity: 0;
    }

    25%, 75% {
        transform: translateX(0%);
        opacity: 1;
    }
}